# Salin file ini ke .env lalu isi nilainya
# cp .env.example .env

DB_ROOT_PASS=root_secret
DB_NAME=bktdrive
DB_USER=bktdrive
DB_PASS=bktdrive

APP_NAME=BKTDrive
APP_URL=http://YOUR_SERVER_IP:8090
ONLYOFFICE_ENABLED=true
ONLYOFFICE_SERVER=http://YOUR_SERVER_IP:7400
ONLYOFFICE_JWT_SECRET=ganti-dengan-secret-yang-kuat
